@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
*{
    margin: 0px;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}
body{
    background-color: #D9D9D9;
}
.title{
    margin-bottom: 10px;
    padding: 20px;
    font-size: 32px;
    font-weight: 500;
    color: #403f3d;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 400px;
    height: 550px;
    margin: 0 auto;
    padding: 15px;
    background-color: #F0ECE7;
    border:  1px solid #bebab7;
    border-bottom: 5px solid #bebab7;
    border-radius: 10px;
}
.display-cont{
    flex: 1;
    margin: 5px;
    border:  1px solid #bebab7;
    border-radius: 10px;
    padding: 15px;
    background-color: #9FBBB3;
    text-align: end;
    color: white;
}
.last-op {
    color: #e9efed;
    font-size: 18px;
}
.display{
    font-size: 42px;
}
.buttons-cont{
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: #F0ECE7;
}
.row{
    display: flex;
    flex: 1;
}
.button.larger{
    flex: 2;
}
.button.accent{
    color: #6ebaa4;
}   
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    box-sizing: border-box;
    flex: 1;
    margin: 5px;
    border:  1px solid #D9D9D9;
    border-bottom: 5px solid #D9D9D9;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #615F5D;
}
footer{
    gap: 6px;
    font-size: 14px;
    margin-top: 25px;
    color: #31312f;

}
